:root {
  --comic-red: #dc2626;
  --comic-blue: #082f49;
  --comic-shadow-dark: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --comic-shadow-light: 4px 4px 0px 0px rgba(255, 255, 255, 0.2);
}

/* Unificamos el fondo en el body */
body {
  background-image: url("../img/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Clase maestra para todos los botones tipo Comic */
.btn-comic-main {
  background-color: var(--comic-red);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
  box-shadow: var(--comic-shadow-dark);
  border: none;
  cursor: pointer;
}

.btn-comic-main:hover:not(:disabled) {
  background-color: #000;
  transform: translate(-2px, -2px);
}

.btn-comic-main:active:not(:disabled) {
  transform: translateY(2px);
  box-shadow: none;
}

.dark .btn-comic-main {
  box-shadow: var(--comic-shadow-light);
}
